*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.div{
    border-radius: 7%;
    background-color: rgba(243, 238, 238, 0.595);
    width: 700px;
    height: 400px;
}

.div1{
    border-radius: 7%;
    background-color: color-mix(in hsl, hsl(252, 100%, 67%), hsl(250, 81%, 54%));
    width: 300px;
    height: 400px;
    display: inline-block;
}

.h3{
    margin-top: 30px;
    color: hsl(224, 30%, 27%);
    text-align: center;
}

.div2{
    margin-left: 60px;
    margin-top: 30px;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: hsla(256, 72%, 46%, 1);
    display: inline-block;
}

.h1{
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 50px;
}

.p1{
    color: hsl(224, 30%, 27%);
    text-align: center;
    margin-top: 20px;
}

.h2{
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 20px;
}

.p2{
    color: hsl(224, 30%, 27%);
    text-align: center;
    width: 200px;
    margin-left: 50px;
    margin-top: 20px;
}

.h4{
    color: hsl(224, 39%, 19%);
    margin-left: 350px;
    margin-top: -370px;
}

.div3{
    border-radius: 3%;
    margin-left: 350px;
    margin-top: 20px;
    background-color: rgba(203, 130, 130, 0.204);
    width: 250px;
    height: 50px;
}

.img1{
    margin: 15px;
}

.p3{
    color: hsl(0, 100%, 67%);
    margin-left: 50px;
    margin-top: -40px;
}

.p4{
    margin-left: 150px;
    margin-top: -15px;
}

.div4{
    border-radius: 3%;
    margin-left: 350px;
    margin-top: 20px;
    background-color: rgba(197, 204, 100, 0.585);
    width: 250px;
    height: 50px;
}

.img2{
    margin: 15px;
}

.p5{
    color: hsl(39, 100%, 56%);
    margin-left: 50px;
    margin-top: -40px;
}

.p6{
    margin-left: 150px;
    margin-top: -15px; 
}

.div5{
    border-radius: 3%;
    margin-left: 350px;
    margin-top: 20px;
    background-color: rgba(98, 198, 105, 0.467);
    width: 250px;
    height: 50px;
}

.img3{
    margin: 15px;
}

.p7{
    color: hsl(166, 100%, 37%);
    margin-left: 50px;
    margin-top: -40px;
}

.p8{
    margin-left: 150px;
    margin-top: -15px; 
}

.div6{
    border-radius: 3%;
    margin-left: 350px;
    margin-top: 20px;
    background-color: rgba(103, 153, 219, 0.493);
    width: 250px;
    height: 50px;
}

.img4{
    margin: 15px;
}

.p9{
    color: hsl(234, 85%, 45%);
    border-radius: 3%;
    margin-left: 50px;
    margin-top: -40px;
}

.p10{
    margin-left: 150px;
    margin-top: -15px; 
}

.div7{
    border-radius: 30px;
    margin-left: 350px;
    margin-top: 15px;
    background-color: hsl(242, 91%, 9%);
    width: 250px;
    height: 50px;
    display: inline-block;
}

.div7:hover{
    color: hsl(241, 81%, 54%);
    transform: 0.5s;
}

.p11{
    text-align: center;
    color: white;
    margin-top: 15px;
}

