@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tiny5&family=Young+Serif&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

header{
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
h1{
    text-align: center;
    color: hsl(234, 12%, 34%);
    font-weight: 250;
}

span{
    font-weight: 700;
}

.heading-text{
    text-align: center;
    color: hsl(229, 6%, 66%);
}

.cards{
    height: 250px;
    width: 350px;
    box-shadow: 0 0 30px gray;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
}

.super{
    grid-column: 1 / 2;
    margin-top: 130px;
}

.parent{
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.calculator{
    grid-column: 3 / 4;
    margin-top: 130px;
}

h2{
    font-size: 20px;
    color:hsl(234, 12%, 34%);
    font-weight: 600;
}