table, td, th{
    border: 1px solid gray;
}

table{
    border-collapse: collapse;
}

tr:nth-child(even){
    background-color: rgba(128, 128, 128, 0.805);
}

th{
    background-color: rgba(0, 0, 0, 0.837);
}